h1 {
    text-decoration-line: underline;
}

img {
    width: 50%;
    height: 50%;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F0F3FA;
}

button {
    height: 50px;
    border-radius: 25px;
}

nav {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    border: solid 2px #395886;
    width: 20%;
    background-color: #8AAEE0
}

.form-header {
    width: 10%;
    text-align: center;
    text-decoration: underline;
    margin-left: 45%;
    margin-right: 45%;
}

#login-form, #register-form {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #D5DEEF;
    text-align: center;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2% 5% 2% 5%;
}

.login-link {
    vertical-align: middle;
}

.intro, #content {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

#entry-form {
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #D5DEEF;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2% 5% 2% 5%;
}

#schedule-submit-button {
    text-decoration: underline;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

body > table{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #395886;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]{
    width: 30%;
    background-color: #638ecb;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

/*This is used for my edit and delete buttons*/
a{
    cursor: pointer;
    text-decoration: underline;
    color: #0b0b70;
    margin-right: 5px;
}


/*I wanted a "Red" for my validation Errors*/
label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}