h1
{
    text-decoration-line: underline;
}

img
{
    width: 50%;
    height: 50%;
}


body
{
    background-color: antiquewhite;
}

button
{
    height: 50px;
    border-radius: 25px;
}

#intro, #content {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

#entry-form {
    display: none;
}

body > table{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

/*This is used for my edit and delete buttons*/
a{
    cursor: pointer;
    text-decoration: underline;
    color: #0b0b70;
    margin-right: 5px;
}


/*I wanted a "Red" for my validation Errors*/
label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}