h1 {
    text-decoration-line: underline;
}

img {
    width: 50%;
    height: 50%;
}

body {
    background-color: antiquewhite;
}

button {
    height: 50px;
    border-radius: 25px;
}

#intro, #content {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

